h2 {
    text-decoration: line-through;
}

h3 {
    text-decoration: underline;
}
        blink
        {
            -webkit-animation-name: blink;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
            -webkit-animation-duration: 1s;
        }
.blink_me {
  width: 50px;
  height: 50px;
  animation: blink 1s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes blink {
0%, 49% {
    background-color: black;
    color: white;
}
50%, 100% {
    background-color:white;
    color: black;
}
}
@keyframes blinker {  
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}